{% if case.case_number is none %}
  {% set case_link = 'new_case' %}
{% else %}
  {% set case_link = 'current_case' %}
{% endif %}

{% extends 'layouts/master-page' %}
{% block title %}Quick Case{% endblock %}
{% block head %}
  <script type="text/javascript" src="/static/js/cytoscape.min.js"></script>

  <script>
    $(function() { // on dom ready
      $('#cy').cytoscape({
        maxZoom: 10,
        minZoom: 0.25,
        wheelSensitivity: 0.33,
        style: cytoscape.stylesheet()
          .selector('node')
          .css({'content':          'data(name)',
                'width':            'data(size)',
                'height':           'data(size)',
                'background-color': 'data(color)'})
          .selector('edge')
          .css({'target-arrow-shape': 'triangle',
                'label':              'data(label)'})
          .selector(':selected')
          .css({'background-color':   'black',
                'line-color':         'black',
                'target-arrow-color': 'black',
                'source-arrow-color': 'black'})
          .selector('.autorotate')
          .css({'edge-text-rotation': 'autorotate'})
          .selector('.faded')
          .css({'opacity':      0.25,
                'text-opacity': 0}),
        ready: function() { window.cy = this; setEvents();
                            None = null;
                            addIntel({{ case.nodes|safe }}, {{ case.edges|safe }}); },
        layout: {name: 'preset'},
      });

      function setEvents(){
        cy.on('tap', function(event) {
          try{
            var target = event.cyTarget;
            if( target.isNode() ){
              var neighborhood = target.neighborhood().add(target);
              cy.elements().addClass('faded');
              neighborhood.removeClass('faded');
              $("#info").html(target.data("info")); }
          }catch(err){  // If this fails, we know it's the backdrop
            cy.elements().removeClass('faded');
            $("#info").html(""); }
        });
        // Filters plugins
        $('[id^=filter_').on('click', function(){
          cy.batch(function(){
            cy.nodes().forEach(function( n ){
              n.css('visibility', 'visible');
              $('input:checkbox[id^=filter_]:not(:checked)').each(function( i ){
                var id_parts = $(this).attr('id').split("_");
                var type  = id_parts[1];
              var value = id_parts.slice(2).join("_");
              if( n.data(type) === value ){ n.css('visibility', 'hidden'); }
              })
            })
          })
        })
      }
      
      $("#add_intel").on('click', function(){
        data = {intel: $('#intel').val(), type: $('#intel_type').val()}
        $("body").css("cursor", "progress");
        $("#case-status").text("gathering new intel...")
        $.getJSON("/_add_intel/{{case_link}}", data, function( data ) {
          addIntel(data['nodes'], data['edges']);
          saveNodePositions();
          prepareLegend(data['labels'], data['plugins'], data['intel']);
          $("body").css("cursor", "default");
          $("#case-status").text("ready");
        });
      });
      $("#back").on('click', function(){location.href = "/"});

      function prepareLegend(labels, plugins, intel){
        $("#plugins").empty();
        $("#filters").empty();
        $.each(plugins, function( i, p ){
          data  = '<li> <input id="filter_plugin_'+p['name']+'" checked type="checkbox"> </input>';
          data += '<span style="background-color: '+p['color']+'"></span>'+p['name']+'</li>';
          $("#plugins").append(data);
        });
        $.each(labels, function( i, l ){
          $("#filters").append('<li> <input id="filter_label_'+l+'" checked type="checkbox"> </input>'+l+'</li>');
        });
        setEvents();
      }

      function addIntel(nodes, edges){
        items = []
        $.each(nodes, function( i, node ){ node.id = node.uid; delete node.uid;
                                          if(node.x && node.y){
                                            pos = {x: node.x, y: node.y}
                                          }else{
                                            pos = {x: Math.floor(Math.random() * cy.width()),
                                                   y: Math.floor(Math.random() * cy.height())}
                                          }
                                           items.push({group: 'nodes', data: node, position: pos }) });
        $.each(edges, function( i, edge ){ items.push({group: 'edges', data: edge}) });
        cy.add(items);
      }

      function getNodePositions(){
        nodes = []
        cy.nodes().forEach(function( n ){nodes.push({uid: n.data("id"), x: n.renderedPosition("x"),
                                                                        y: n.renderedPosition("y")})})
        return nodes
      }

      function saveNodePositions(){
        $.getJSON("/_set_node_positions/{{case_link}}", {nodes: JSON.stringify(getNodePositions())}, function( data ) {})
      }

      $("#cancel_case").on('click', function(){
        $.getJSON("/_cancel/{{case_link}}", {}, function(data){ if(parseStatus(data)){window.location = "/";} }) });

      $("#save_case").on('click', function(){
        $("#case-status").text("saving...")
        data = {title:  $("#title").val(),
                descr:  $("#descr").val(),
                notes:  $("#notes").val(),
                rights: [],
                nodes:  JSON.stringify(getNodePositions())}
        $("[id^=access_").each(function(i){
          if($(this).prop('checked')) { data['rights'].push($(this).attr("id").split("_")[1]) }
        });
        data['rights'] = JSON.stringify(data['rights'])

        if(data['rights'].length == 0){ alert("Please make sure at least one team has access to this case"); return; }
        if( ! data['title'].trim()){ alert("Please give the case a title"); return; }

        $.getJSON("/_save/{{case_link}}", data, function(data){
          if(parseStatus(data)){
            {% if is_new_case is defined %}
              window.location = "/case/"+data["case"];
            {% endif %}
            }else{ alert("An error occured!"); }
          $("#case-status").text("ready")
        })
      })

      {% if is_new_case is not defined %}

      $.when().then(function( x ) {
        function nonce(){
          $.ajax({url:  "/_lock_nonce", 
                  data: {'case_number': {{case.case_number}}},
                  cache: false,
                  type: "GET",
                  timeout:{{nonce}}*1000,
                  success: function(response) {
                    if (response['status'] != undefined){
                      switch(response['status']){
                        case "success": setTimeout(nonce, {{nonce}}*1000); break;
                        case "already_locked": $("#case-status").text("case already locked"); break;
                        default:
                          $("#case-status").text("unknown case issue");
                          $("#save_case").prop('disabled', true);
                      }
                    }else{
                      $("#case-status").text("unknown case issue");
                      $("#save_case").prop('disabled', true); } },
                  error: function(xhr) {
                    $("#case-status").text("server unreachable");
                    $("#save_case").prop('disabled', true);
                  } });
        }
        nonce();
      });
      {% endif %}
    }); // on dom ready
  </script>
{% endblock %}
{% block content %}
  <!-- Sidebar -->
  <div id="sidebar-container">
    <div id="sidebar">
      <span id="back" class="glyphicon glyphicon-chevron-left"></span> <br /> <br />
      <!-- Case -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Case</h3>
        </div>
        <div class="panel-body">
          <input    id="title" type="text" class="h3input" value="{{case.title}}" />
          <input    id="descr" type="text" class="stronginput" value="{{case.description}}" />
          <textarea id="notes" class="pinput"> {{case.notes}} </textarea>
        </div>
      </div>
      <!-- End Case -->
      <!-- Legend -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Legend</h3>
        </div>
        <div class="panel-body">
          <ul class="legend" id="plugins">
            {% for p in plugins %}
            <li>
              <input id="filter_plugin_{{p['name']}}" checked type="checkbox"> </input>
              <span style="background-color: {{ p['color'] }}"></span>{{ p['name'] }}
            </li>{% endfor %}
          </ul>
        </div>
      </div>
      <!-- End Legend -->
      <!-- Filters  -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Filters</h3>
        </div>
        <div class="panel-body">
          <ul class="legend" id="filters">
            {% for l in labels %}<li><input id="filter_label_{{l}}" checked type="checkbox"> </input>{{l}}</li>{% endfor %}
          </ul>
        </div>
      </div>
      <!-- End Filters -->
      <!-- Legend -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Aditional Info</h3>
        </div>
        <div class="panel-body">
          <div id="info"> </div>
        </div>
      </div>
      <!-- End Legend -->
      <!-- Access -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Access</h3>
        </div>
        <div class="panel-body">
          <ul class="legend" id="access">
            {% for t in teams %}<li><input id="access_{{t['name']}}" {% if t['allowed'] %} checked {% endif %} type="checkbox"> </input>{{t['name']}}</li>{% endfor %}
          </ul>
        </div>
      </div>
      <!-- End Access -->
      <button id="save_case">Save</button>
      <button id="cancel_case">Cancel</button>
    </div>
    <span>Status:</span> <span id="case-status">ready</span>
  </div>
  <!-- End Sidebar -->
  <!-- Content -->
  <div id="content">
    <div id="cy"></div>
  </div>
  <!-- Body End -->
  <!-- Footer -->
  <div id="cyFooter">
    <span id="cyFooterIcon" class="glyphicon glyphicon-chevron-right" data-toggle='toggle' data-target="#cyFooterText"></span>
    <div id="cyFooterText" class="collapse horizontal">
      <strong>Add intel</strong> <br />
      <select id="intel_type">
        {% for i in intel %} <option value="{{i}}">{{i|replace("intel_", "")|replace("_", " ")|title}}</option> {% endfor %}
      </select>
      <input id="intel" type="text" /> <button id="add_intel">Add</button>
    </div>
  </div>
  <!-- Footer End -->
{% endblock %}
