{% extends 'layouts/master-page' %}
{% block title %}Home{% endblock %}
{% block head %}
  <script>
    $(function() {
      loading(".bodystrap", "/_cases", {});
      
      $('ul.menu-content li').on('click', function(){
        $('ul.menu-content li').removeClass("active");
        $(this).addClass("active");
        switch($(this).attr("id")){
          case "new_case":      location.href = "/new_case"; break;
          case "cases":         loading(".bodystrap", "/_cases", {}); break;
          case "user_settings": loading(".bodystrap", "/_user_settings", {}); break;
        }
      });
    });
  </script>
{% endblock %}
{% block content %}
  <div class="nav-side-menu">
    <div class="brand">Threat Intelligence Management &amp; Enrichment</div>
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <li id="new_case">            <span class="glyphicon glyphicon-file"></span> {{ 'Continue new case' if existing_case else 'New case' }}</li>
        <li id="cases" class="active"><span class="glyphicon glyphicon-book"></span> Cases</li>
        <li id="user_settings">       <span class="glyphicon glyphicon-user"></span> User Settings</li>
      </ul>
    </div>
  </div>

  <div id="content">
    <div class="bodystrap" id="bodystrap">
      {% include 'subpages/index_cases.html' %}
    </div>
  </div>
  
{% endblock %}
